/*
Theme Name: Shopkeeper Child
Theme URI: http://shopkeeper.getbowtied.com/
Description: This is a child theme for Shopkeeper.
Author: Get Bowtied
Author URI: http: //www.getbowtied.com/
Template: shopkeeper
Version: 1.0
*/

@font-face {
    font-family: 'Monument Extended';
    src: url('webfonts/monument extended/MonumentExtended-Regular.woff2') format('woff2'),
        url('webfonts/monument extended/MonumentExtended-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('webfonts/monument extended/MonumentExtended-Ultrabold.woff2') format('woff2'),
        url('webfonts/monument extended/MonumentExtended-Ultrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: block;
}

.site-branding a,
.main-navigation > ul > li > a,
#site-footer .widget h3.widget-title,
.button, button, .button_text,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Monument Extended';
    font-weight: 800;
}

.main-navigation ul ul li a {
	font-weight: bold;
}

.woocommerce-tabs {
	display: none;
}